{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    {% for product in products  %}
        <div class="col-4 mb-5">
            <div class="card" style="width: 18rem; shadow-sm">
                <div class="card-body">
                    {% if product.user %}
                        <p>{{ product.user.username }}</p>
                    {% endif %}
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p>{{ product.price }} €</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('update',{'id':product.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('delete',{'id':product.id}) }}" class="btn btn-danger">Suppresion</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}